In [1]:
import pandas as pd
import numpy as np

In [63]:
pd.set_option('display.max_rows', 500)

In [ ]:
### Importar la base de datos usando Pandas ###

In [10]:
cars = pd.read_excel("EVENTOS_2018 SN.xlsx", skiprows=7, index_col = 0)

In [21]:
cars.head()

,AREA,GRUPO,PANEL,FECHA,TIPO EVENTO
TARJETA,,,,,
15759,DICYG,ACADEMICOS,SUR 3 ENTRADA,2018-01-10 07:53:20,ACCESO CONCEDIDO
18089,DICT,ACADEMICOS,NORTE 1 ENTRADA,2018-01-10 07:55:17,ACCESO CONCEDIDO
4308,DIMEI,ACADEMICOS,SUR 3 ENTRADA,2018-01-10 07:55:33,ACCESO CONCEDIDO
15881,DIE,ACADEMICOS,SUR 3 ENTRADA,2018-01-10 07:56:21,ACCESO CONCEDIDO
234,SA,Master,NORTE 1 ENTRADA,2018-01-10 07:56:34,ACCESO CONCEDIDO

In [17]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 223579 entries, 15759 to 3913
Data columns (total 6 columns):
AREA           223579 non-null object
GRUPO          223579 non-null object
PANEL          223579 non-null object
FECHA          223579 non-null datetime64[ns]
HORA           223579 non-null datetime64[ns]
TIPO EVENTO    223579 non-null object
dtypes: datetime64[ns](2), object(4)
memory usage: 11.9+ MB

In [15]:
cars['FECHA'] = pd.to_datetime(cars['FECHA'])

In [19]:
cars.drop('HORA', axis = 1, inplace=True)

In [45]:
cars_sur2 = cars.loc[cars["PANEL"].isin(['SUR 2 ENTRADA','SUR 2 SALIDA'])]

In [50]:
cars_sur2.head()

,AREA,GRUPO,PANEL,FECHA,TIPO EVENTO
TARJETA,,,,,
23624,SA DIyV,ADMINISTRATIVOS_SUR,SUR 2 ENTRADA,2018-01-10 08:03:36,ACCESO CONCEDIDO
23739,SG CB,ADMINISTRATIVOS_SUR,SUR 2 ENTRADA,2018-01-10 08:05:04,ACCESO CONCEDIDO
58010,SA PE,ADMINISTRATIVOS_SUR,SUR 2 ENTRADA,2018-01-10 08:08:38,ACCESO CONCEDIDO
23798,DIE,ADMINISTRATIVOS_SUR,SUR 2 ENTRADA,2018-01-10 08:11:44,ACCESO CONCEDIDO
8753,DCB,ACADEMICOS,SUR 2 ENTRADA,2018-01-10 08:13:40,ACCESO CONCEDIDO

In [ ]:
### Ordenar valores por fecha ###

In [60]:
cars_sur2 = cars_sur2.sort_values(by = "FECHA")

In [ ]:
### Funci√≥on cuyo argumento es el ID del individuo, regresa el registro con entradas y salidas

In [72]:
def infocar(iden):
    return cars_sur2.loc[iden].groupby("PANEL")["AREA"].count()

In [73]:
### Ejemplo ###

In [74]:
infocar(23798)

PANEL
SUR 2 ENTRADA    66
SUR 2 SALIDA     66
Name: AREA, dtype: int64